<div
  class="w-full h-full fixed overflow-y-auto bg-purple-dark bg-opacity-95 z-50 px-5 hidden"
  data-js="about"
  role="dialog"
  aria-label="About this project"
  aria-modal="true"
>
  <div class="max-w-xl mx-auto py-20">
    <button
      class="text-tiny text-white cursor-pointer text-opacity-80 mb-10 inline-block hover:text-opacity-100"
      data-js="aboutButton"
    >
      â† Back to projects
    </button>

    {% include components/about_inner %}
  </div>
</div>
