<div class="w-full h-full fixed overflow-y-auto bg-purple-dark bg-opacity-95 z-50 px-5 toggleHide" data-js="about">
  <div class="max-w-xl mx-auto py-20">

    <p class="text-tiny text-white cursor-pointer text-opacity-80 mb-10 inline-block hover:text-opacity-100" data-js="aboutButton">
      ← Back to projects
    </p>

    <p class="text-white md:text-md md:leading-9 leading-7 max-w-950 text-opacity-80 md:pl-10">

      CryptoBrands is a project powered by <a href="https://www.finiam.com/" target="_blank" rel="noopener" class="text-green hover:text-opacity-75">finiam</a>. <br><br>
      We know the crypto community is one of the best out there. It’s very active and collaborative and we would love to work with you.<br><br>
      Based on the principles of human factor, trust, dynamism and graphic consistency, we want to build with your help the biggest brand repository in the cryptocurrency world.<br><br>
      You can make your suggestion directly to <span class="text-green">cryptobrands@finiam.com</span> or use <span class="text-green">#finiamcryptobrands</span> on Twitter with the name of the project, the website link and, optionally, the design studio responsible for the design.<br><br>
      If you want to know in detail the motto behind this project project <span class="text-green">check our blogpost</span>.

      <img class="mt-20" src="/static/finiam-logo-ext.svg" alt="Finiam logo" loading="lazy" />
    </p>
  </div>
</div>
