<nav class="w-full fixed border-b border-white border-opacity-25 py-4 px-5 bg-purple-dark z-10">
  <div class="max-w-xl mx-auto">
    <div class="w-full flex items-center">
      <div class="flex items-center flex-grow">
        <img class="w-4 h-auto rounded-sm mr-6" src="/static/finiam-logo.svg" alt="Finiam logo" loading="lazy" />
        <h1 class="text-white text-base hidden md:block">
          CryptoBrands
        </h1>
      </div>
      <div href="#" class="text-white text-opacity-50 text-tiny hover:text-opacity-100 mr-5 cursor-pointer" data-js="aboutButton">
        About
      </div>
      <a href="mailto:cryptobrands@finiam.com?subject=New%20suggestion" class="text-green text-tiny hover:text-opacity-75">
        Send your suggestion
      </a>
    </div>
  </div>
</nav>
