---
layout: layouts/base.liquid
---

<div class="max-w-xl mx-auto relative">

  <img class="rings" src="/static/rings.svg" alt="Rings image">

  <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-5">
    {% for project in projects %}

      {% include components/project_card.liquid,
        project: project %}

    {% endfor %}
  </div>
</div>