---
layout: layouts/base.liquid
---

<div class="max-w-xl mx-auto relative">
  <div class="custom-rings" aria-label="Pretty decorative rings">
    {% include icons/rings.svg %}
  </div>

  <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-5">
    {% for project in projects reversed %}

      {% include components/project_card.liquid,
        project: project %}

    {% endfor %}
  </div>

  <br>

  <a href="https://github.com/finiam/cryptobrands.finiam.com" class="text-white text-tiny text-opacity-75">
    <span class="border-b border-white border-opacity-75">Open-source</span> project ❤
  </a>
</div>
